In [1]:
import pandas as pd

In [2]:
contacts = [['Mike Green', 'demo1@deitel.com', '5555555555'], ['Sue Brown', 'demo2@deitel.com', '5555551234']]

In [3]:
contactsdf = pd.DataFrame(contacts, 
                          columns=['Name', 'Email', 'Phone'])

In [4]:
contactsdf

         Name             Email       Phone
0  Mike Green  demo1@deitel.com  5555555555
1   Sue Brown  demo2@deitel.com  5555551234

In [5]:
import re

In [8]:
def get_formatted_phone(value):
    result = re.fullmatch(r'(\d{3})(\d{3})(\d{4})', value)
    return '-'.join(result.groups()) if result else value

In [9]:
formatted_phone = contactsdf['Phone'].map(get_formatted_phone)

In [10]:
formatted_phone

0    555-555-5555
1    555-555-1234
Name: Phone, dtype: object

In [11]:
contactsdf['Phone'] = formatted_phone

In [12]:
contactsdf

         Name             Email         Phone
0  Mike Green  demo1@deitel.com  555-555-5555
1   Sue Brown  demo2@deitel.com  555-555-1234

In [13]:
"""Sheila Wogomon"""

'Sheila Wogomon'